<div>机器人信息：</div>
<div>machine name:</div>
<div><%= @machine.name %></div>
<div>machine api:</div>
<div><%= @machine.api_key %></div>
<div>用户评分：</div>
<div><%= @machine.score/10.0 %></div>
<div>平均响应时间：</div>
<div><%= @machine.duration/1000 %> ms</div>
<div>用户使用次数：</div>
<div><%= @machine.req_num %></div>
<div id="end_chat">结束聊天？请您评价：</div>
<div>
	<%= form_for :machine, url: '/machines/score', method: 'post' do |f| %>
		<input type="hidden" name="id" value="<%= @machine.id %>" >
		<%= f.text_field :score, value: nil, placeholder: '请您打分，1~10分' %>
		<button>提交</button>
	<% end %><!-- 
	<form action="/machines/score" method="post">
		<input type="hidden" name="id" value="<%= @machine.id %>" >
		<input type="text" name="score" placeholder="请您打分，1~10分">
		<button>提交</button>
	</form> -->
</div>
<a href="/machines_profiles/<%= @machine.id %>" >更多>></a>
<script type="text/javascript">
	//eval("$('#end_chat').html('a<br>b<br>')");
</script>