<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RotChat" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">RotChat</a>
        <a href="/machines">机器人聊天</a>
        <a href="#">好友聊天</a>
        <a href="/user_profiles/show">个人中心</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <% if current_user %>
              <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
              <%= link_to('修改密碼', edit_registration_path(:user)) %>
            <% else %>
              <%= link_to('註冊', new_registration_path(:user)) %> |
              <%= link_to('登入', new_session_path(:user)) %>
          <% end %>
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->


    </div> <!-- /container -->
    <div class="container">
      <footer>
        <p>&copy; Company 2018</p>
      </footer>
    </div>
  </body>
</html>
